@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@plugin "daisyui/theme" {
  name: "wireframe";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(87% 0 0);
  --color-primary-content: oklch(26% 0 0);
  --color-secondary: oklch(86% 0.022 252.894);
  --color-secondary-content: oklch(26% 0 0);
  --color-accent: oklch(92% 0.003 48.717);
  --color-accent-content: oklch(26% 0 0);
  --color-neutral: oklch(87% 0.01 258.338);
  --color-neutral-content: oklch(26% 0 0);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(96% 0.007 247.896);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(96% 0.007 247.896);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(96% 0.007 247.896);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(96% 0.007 247.896);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
